{{ disclaimer }}
# `shell_argument_parsing_file`

A bash library to parse CLI arguments from a [recfile][recutils_website].

## Man page

`✂ --------------------------------------------------`

{% include 'docs/manpage.md.clean' %}

`-------------------------------------------------- ✂`

<!--

## Developing

???

-->

### Testing

```
cd /path/to/shell_argument_parsing_file
rm ./output/deb/*.deb
make package down build test
```

## TODO

### This project

*   Fix `Section: checkinstall` in `.deb`.

*   Integrate `shell_argument_parsing_file/usr/local/share/shell_argument_parsing_file/recfiles/shell_argument_parsing_file_metadata.rec` with `help`.

*   Improve bash best practices (see links below).

    *   read this; <https://stackoverflow.com/a/69252872/5544140>.

    *   <https://google.github.io/styleguide/shellguide.html#s4.2-function-comments>.

### Related to this project

*   Use `recfiles` to define depts. Its metadata capabilities are outstanding.

*   [DRY principle](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself): install jira templates from rec files, define parameters from recfiles, etc. e.g. `if [[ $# != 3 ]]; then` the `3` is hardcoded there.

    *   duplication of knowlegde; if I parse exactly 3 arguments, how can I fix that and reference that number on the docs without templating the bash file?

## Other

These were helpful when deciding on the project structure:

https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard

https://stackoverflow.com/questions/45740459/what-does-local-mean

https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s09.html#usrlocalshare1

<!--  -->

<!-- https://pandoc.org/chunkedhtml-demo/8.16-links-1.html -->

[recutils_website]: https://www.gnu.org/software/recutils/ (GNU Recutils)

<!-- # vim: set filetype=pandoc fileformat=unix nowrap spell spelllang=en: -->

{{ disclaimer }}
